.form {
    white-space: pre-wrap;
    display: 'flex';
    text-align: left;
    justify-content: 'left';
    align-items: 'left';
    height: '100vh';
}

.label {
  text-align: left;
}

.textbox {
  display: flex;
  text-align: left;
  align-items: left;
  justify-content: left;
  align-content: left;
  width: 30vw;
}

.title {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
}

.errors {
    font-size: 15px;
    color: red;
    text-align: left;
}

.icon {
    top: -30px;
    right: 9px;
    position: relative;
}

.spinner {
    animation: spin infinite 0.75s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}